*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.accordion{
    width: 600px;
    margin: 75px auto;
}

.accordion ul,
.accordion li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    background: #c9c9c9;
    border-bottom: 1px solid #ffffff;
    font-size: 1.4em;
    color: black;
}

.accordion .accordion-content{
    font-size: 1em;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    display: none;
}

.accordion li a:hover ~ .accordion-content{
    display: block;
}