body{
    background-color: rgb(252, 240, 197);
}
.main {
    max-width: 50%;
    margin: 0 auto;
}
.title {
    font-size: 3rem;
    font-weight: bold;
}
.bayan {
    flex-direction: column;
    display: flex;
    cursor: pointer;
    color:rgb(97, 40, 83);
}